.form {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.form input {
  border: 2px solid black;
}

.form button {
  background-color: black;
  color: white;
}